.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.all-dice {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px
}

.button-plus-minus {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.clear-button {
  margin-top: 1%;
  margin-bottom: 10%;
  background: violet;
  font-size: 20px;
  border-radius: 5px;
}

.die-img {
  height: 140px;
  width: 140px
}

.die {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 2%;  
  flex-wrap: wrap;
}

.die-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;  
  flex-wrap: wrap;
}

.die-selector {
  display: flex;
  margin-bottom: 2%;
  margin-top: 2%;  
}

.dice-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.indicator {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-items: center; */
  align-items: center;
  /* justify-items: center; */
}

.roll-field {
  resize: none;
  font-size: 15px;
  border-radius: 5px;
}
