.App {
  text-align: center;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.clear-button {
  margin-top: 1%;
  margin-bottom: 10%;
  background: violet;
  font-size: 20px;
  border-radius: 5px;
}

.die-img {
  height: 150px;
  width: 150px
}

.die {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;  
  flex-wrap: wrap;
}

.dice-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px
}

.roll-field {
  resize: none;
  font-size: 15px;
  border-radius: 5px;
}
