.App {
  text-align: center;
  /* background-color: blueviolet; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.die-img {
  height: 100px;
  width: 100px
}

.die {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.dice-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.roll-field {
  resize: none;
}
